{{ define "main" }}
<br>
<!-- Pagina do principal do blog --> 
<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}

<style> {{.Params.custom_css | safeCSS}}</style>

<section class="bg-posts" style = "background-image: url('{{ .Params.Image | absURL }}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class = "titulo-post" id = branco >
          <center>Bem vindo ao Blog !
          </center></h1>
      </div>
    </div>
  </div>
</section>

<section class="blog {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}}>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-2 mb-lg-0 ">
    <div class="row wow fadeInUp" data-wow-duration="1.5s">
      {{ $paginator:= .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      <div class="col-lg-6 col-sm-2 mb-4">
        <div class="card">
          {{ if .Params.image }} <a class="card-img-wrapper" href="{{.Permalink}}"><img
              src="{{.Params.image | absURL }}" alt="{{.Title}}" class="card-img-top"></a> {{ end }}
          <div class="card-body">
            <h4 class="mb-2"><a class="card-title" href="{{.Permalink}}">{{.Title}}</a></h4>
            <p class="card-text"id = "summa" >{{.Summary}}</p>
            <center><a href="{{.Permalink}}" class="btn btn-transparent">Leia mais</a></center>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>

<!-- Outras Postagens --> 
          <div class="widget ">
            <h3 class="widget-title">Outras Postagens</h3>
            {{ $related := (where site.RegularPages "Section" "post") | intersect (where site.Pages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) }}
            {{ range first 5 $related }}
            <ul class="list-unstyled widget-list">
              <li class="media widget-post align-items-center">
                {{ if .Params.image }}
                <a href="{{ .Permalink }}">
                  <img class="widget-img" src="{{.Params.image | absURL}}" alt="{{.Title}}">
                </a>
                {{ end }}
                <div class="media-body">
                  <h5 class="h6 mb-0"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                  <small>Thalis Rebouças  </small> <br>
                  <small>{{ .PublishDate.Format "02/01/2006" }}</small>
                </div>
              </li>
            </ul>
            {{ end }}
            
<!-- Leia mais -->
          <div class="widget">
            <h3 class="widget-title">Leia mais sobre </h3>
             <div class="col-lg-6">
           <div class="bg-white  wow fadeInUp" data-wow-duration="1.5s" style="top: 80px;">
            {{- if isset site.Taxonomies "tags" }}
            {{- if not (eq (len site.Taxonomies.tags) 0) }}
            <ul class="list-unstyled widget-list">
              {{- range $name, $items := site.Taxonomies.tags }}
              <li><a href="{{ `tags/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}&nbsp;&nbsp;({{ len $items }})</a></li>
              {{- end }}
            </ul>
            {{- end }}
            {{- end }}
          </div>   
           </div>  
            </div>  
  
  </section>
<!-- regular page -->
{{ else }}
<style>{{.Params.custom_css | safeCSS}}</style>
<section class="blog {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}}>
  <div class="container wow fadeInUp" data-wow-duration="1.5s">
    <h1 class="text-center mb-5">{{ .Title | markdownify }}</h1>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /regular page -->
 <div class="col-12">
        {{ template "_internal/pagination.html" . }}
      </div>
{{ end }}