/*--------------------------------
   Start Preloader & General Styling
----------------------------------*/

html {
  height: 100%;
}

* {
  outline: none;
}

body {
  font-family: 'Rubik', sans-serif;
  height: 100%;
}

.content a {
  color: inherit;
}


.content a:hover {
  border-bottom: 0px solid #212121;
  text-decoration: none;
}

.no-js body {
  overflow: visible;
}

.all-container {
  opacity: 0;
  height: 100%;
}

.no-js .all-container {
  opacity: 1;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


/* Scroll Bar*/


::-webkit-scrollbar-track {
    background-color: #232323;
}
::-webkit-scrollbar {
    width: 6px;
    background: #232323;
}
::-webkit-scrollbar-thumb {
    background: #323232;
}



.no-js #preloader {
  display: none;
}

.square-spin>div {
  width: 80px;
  height: 80px;
}

.section {
  padding-top: 15px;
  padding-bottom: 15px;
}

.section-sm {
  padding-top: 60px;
  padding-bottom: 60px;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


/*--------------------------------
   End Preloader & General Styling
----------------------------------*/

/*--------------------------------
  Start Header
----------------------------------*/

/* ========= Header ======= */

.header {
  background: #313131;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100%;
  min-height: 420px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.logo {
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 40px;
}

.no-js .logo {
  display: none;
}

.logo img {
  width: 205px;
}

.owl-carousel.owl-full-width {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.owl-carousel.owl-full-width .slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.owl-carousel.owl-full-width .slider img {
  display: none;
}

.owl-full-width div {
  height: 100%;
}

.head-container {
  display: table;
  position: absolute;
  top: 0;
  height: 100%;
  color: white;
  font-size: 20px;
  font-family: 'Rubik', sans-serif !important;
  font-weight: 300;
  z-index: 10;
}

.head-holder {
  display: table-cell;
  vertical-align: middle;
}

.introduction {
  font-size: 40px;
  font-weight: 600;
}

.typist-blink:after {
  content: " ";
  display: inline-block;
}

.typist-blink>.selectedText {
  display: none;
}

.head-holder .hireMe {
  display: inline-block;
  background: transparent;
  margin-top: 18px;
  text-decoration: none;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  font-weight: 500;
  border: 2px solid white;
  padding: 5px 18px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.head-holder .hireMe:hover {
  background: #6f6f6f;
  color: #fff;
  border: 2px solid #6f6f6f;
}

input+label {
  position: absolute;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 34px;
  z-index: 12;
}

.no-js input+label {
  display: none;
}

#burger {
  display: none;
}

input+label span {
  position: absolute;
  width: 100%;
  height: 4px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.navigation-icon:hover .burger-menu span {
  background: #6f6f6f;
}

input+label span:first-child {
  top: 0px;
}

input+label span:last-child {
  top: 19px;
}

label:hover {
  cursor: pointer;
}

input:checked+label span {
  opacity: 0;
  top: 50%;
  background: #6f6f6f;
}

input:checked+label span:first-child {
  opacity: 1;
  -webkit-transform: rotate(405deg);
  transform: rotate(405deg);
}

input:checked+label span:last-child {
  opacity: 1;
  -webkit-transform: rotate(-405deg);
  transform: rotate(-405deg);
}

/* ========= Full Screen Navigation ======= */

.fullscreen-nav-container {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 11;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fullscreen-nav-container .container-fluid {
  height: 100%;
}

.fullscreen-nav-container::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.no-js .fullscreen-nav-container {
  display: none;
}

.full-nav-container {
  height: 100%;
}

.full-nav-holder {
  height: 100%;
  display: table;
  width: 100%;
  margin: auto;
}

.full-nav-content {
  display: table-cell;
  vertical-align: middle;
}

.name {
  text-align: center;
}

.first-name {
  font-size: 50px;
  font-weight: 400;
  padding-bottom: 20px;
}

.last-name {
  font-size: 100px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 42px;
}

.occupation {
  font-size: 18px;
  font-weight: 400;
  height: 30px;
  overflow: hidden;
}

.fulscreen-nav {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fullscreen-nav-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.fullscreen-nav-holder div {
  margin: 0px 10px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

.fullscreen-nav-holder div:hover {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.fullscreen-nav-holder a {
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.full-nav-icon-holder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
}

.full-nav-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 300px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
}

.full-nav-icons div {
  display: inline-block;
}

.full-nav-icons a,
.to-top a {
  text-decoration: none;
  color: #ffff;
  font-size: 17px;
}

.full-nav-icons .fab.fa-facebook-f {
  padding: 7px 10px;
}

.full-nav-icons .fab,
.to-top .fab {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
  padding: 7px;
}

.full-nav-icons .fab:hover {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}





/*--------------------------------
  End Header
----------------------------------*/

/*--------------------------------
  Start Menu
----------------------------------*/

/* ========= 3.1 Desktop Menu ======= */

.menu {
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 999;
}

.menu-fixer {
  position: relative;
}

.menu-fix {
  position: fixed;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  height: 55px;
  background: #1c1b1b;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.menu-normal {
  background: rgba(10,10,10,0.95);
}


.menu-normalblog {
  padding-bottom:35px ;
  padding-top: 35px;
  background: #fff;
}
.menu-container-transparent {
  background: rgba(0, 0, 0, 0.2);
}

.desktop-menu-logo img {
  height: 42px;
}

.desktop-menu-logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 5px;
}

.menu-item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
}

.desktop-menu .hvr-underline-from-left:hover:before,
.desktop-menu .hvr-underline-from-left:focus:before,
.desktop-menu .hvr-underline-from-left:active:before,
.desktop-menu .hvr-underline-from-left.active:before {
  right: 0;
}

.desktop-menu .hvr-underline-from-left:before {
  background: #fff;
}

.desktop-menu .hvr-underline-from-left:before {
  bottom: 11px;
  height: 2.5px;
}

.desktop-menu .hvr-underline-from-left.dark:before {
  background: #6f6f6f;
}

.desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 82%;
  justify-self: flex-end;
  height: 55px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.menu-item-transparent.menu-item a {
  color: #6f6f6f;
}





/* ========= Mobile Menu ======= */

.mobile-menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  top: 0;
  background: #fff;
  box-shadow: 0px 0px 4px 0px;
  transition: all 0.5s;
}

.mobile-menu-fix {
  position: fixed;
}

.mobile-menu-logo img {
  height: 45px;
}

.mobile-menu-logo {
  position: absolute;
  left: 15px;
  top: 2px;
}

.mobile-menu a {
  text-decoration: none;
  color: white;
  font-size: 29px;
}

.mobile-menu-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 26px;
  padding-bottom: 10px;
}

.mobile-menu-icons div {
  display: inline-block;
  margin-right: 5%;
}

.mobile-menu-icons .fa {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.mobile-menu-icons .fa:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #6f6f6f;
}

.mobile-menu-nav {
  height: 20px;
  width: 34px;
  display: inline-block;
  position: absolute;
  right: 14px;
  top: 18px;
}

.mobile-menu-nav span {
  display: block;
  width: 100%;
  height: 4px;
  background: #6f6f6f;
  position: relative;
  top: 4px;
  -webkit-transition: .5s;
  transition: .5s;
}

.mobile-menu-nav span:first-child {
  top: -2px;
}

.mobile-menu-nav span:last-child {
  top: 10px;
}

.mobile-menu-nav:hover {
  cursor: pointer;
}

.menu-link.active span {
  opacity: 0;
  top: 50%;
}

.menu-link.active span:first-child {
  opacity: 1;
  -webkit-transform: rotate(405deg);
  transform: rotate(405deg);
  top: 6px;
}

.menu-link.active span:last-child {
  opacity: 1;
  -webkit-transform: rotate(-405deg);
  transform: rotate(-405deg);
  top: -2px;
}

.menu-slider {
  position: absolute;
  display: none;
  z-index: 999;
  top: 50px;
  left: 0;
  right: 0;
  background: #212121;
}

.menu-slider ul {
  list-style: none;
  padding: 17px;
  margin-bottom: 0;
}

.menu-slider li {
  padding: 5px;
}

.menu-slider li a {
  font-size: 18px;
  font-weight: 400;
}

/*--------------------------------
   End Menu
----------------------------------*/

/*--------------------------------
   Start About Me
----------------------------------*/

.about-me-text h1 {
  position: relative;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
}

.about-me-text h1:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 47px;
  height: 5px;
  background: #fff;
}


#text-about{
  color:#999999 ;
}

.download-cv {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 700;
  margin-top: 15px;
  display: inline-block;
  border: 2px solid #4d4d4d;
  padding: 7px 10px;
}

.download-cv:hover,
.download-cv:focus {
  text-decoration: none;
  color: #fff;
}

.linkedin-cv {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 700;
  margin-top: 15px;
  display: inline-block;
  border: 2px solid #4d4d4d;
  padding: 7px 10px;
}

.linkedin-cv:hover,
.linkedin-cv:focus {
  text-decoration: none;
  color: #fff;
}

.about-me {
  padding: 220px 0px 100px 0px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  }

.about-me .hvr-icon-hang:before {
  content: "\f0ab";
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  right: 8px;
  font-weight: 900;
  top: 6px;
  font-size: 16px;
}

/* ========= Start Experience ======= */

.experience-skill {
  margin-top: 40px;
}

.experience h3,
.skill h3 {
  color: #323232;
  font-weight: 700;
  letter-spacing: 2px;
}

.experience-chart {
  list-style: none;
  padding: 0px 0px 0px 6px;
  margin-top: 40px;
}

ul.experience-chart li {
  padding-left: 30px;
  border-left: 2px solid #6f6f6f;
  padding-bottom: 10px;
  position: relative;
}

ul.experience-chart li:last-child {
  padding-bottom: 0;
}

ul.experience-chart li:after {
  position: absolute;
  top: -1px;
  left: -12px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #4d4d4d;
  background: #fff;
  content: '';
  -webkit-transition: all 0.3s;
  transition: all 0.7s;
}

ul.experience-chart li:hover:after {
  background: #4d4d4d;
}

ul.experience-chart h4 {
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  color: #4d4d4d;
}

.experience-chart li span {
  font-weight: 700;
  color: #6f6f6f;
}

.experience-chart li p {
  color: #6f6f6f;
}

.single-experience {
  position: relative;
  top: -2px;
}

/* ========= Start Skill ======= */

.skill-progress-bar {
  margin-top: 41px;
}

.skillbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background: #fff;
  border: 2px solid #6f6f6f;
  height: 18px;
  border-radius: 22px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

.no-js .first-skill {
  width: 98%;
}

.no-js .second-skill {
  width: 85%;
}

.no-js .third-skill {
  width: 92%;
}

.no-js .fourth-skill {
  width: 60%;
}

.skillbar-title,
.skill-bar-percent {
  font-size: 16px;
  color: #4d4d4d;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 7px;
}

.skill-bar-percent {
  float: right;
}

.skillbar-bar {
  height: 10px;
  margin: 0px 2px;
  width: 0px;
  background: #4d4d4d;
  border-radius: 22px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
}

/*--------------------------------
   End About Me
----------------------------------*/

/*--------------------------------
  Start Services
----------------------------------*/

.services {
  background: #fff;
  padding: 70px 0px;
}

.services-heading {
  position: relative;
}

.services-heading h1 {
  color: #303030  ;
  text-align: center;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 80px;
  position: relative;
}

.services-heading h1:before {
  content: "";
  position: absolute;
  top: -8px;
  right: 0;
  left: 0;
  margin: auto;
  width: 70px;
  height: 5px;
  background: #303030;
}

.services-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 40px;
}

.service-img {
  width: 100px;
  margin: auto;
}

.services-icon img {
  width: 100%;
}

.service-label {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 19px;
}

.need-service {
  width: 100%;
  background: #313131;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}

.overlay {
  position: relative;
}

.overlay::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.need-service h1 {
  position: relative;
  color: #fff;
  font-weight: 700;
  margin: 0;
  font-size: 40px;
  letter-spacing: 2px;
  z-index: 2;
}

.need-service a {
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #313131;
  font-weight: bold;
  font-size: 17px;
  margin-top: 14px;
  display: inline-block;
  background: #fff;
  padding: 10px 19px;
  border-radius: 25px;
  transition: background 0.5s;
}

.need-service a:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 8px 17px;
}

/*--------------------------------
 End Services
----------------------------------*/

/*--------------------------------
   Start blog
----------------------------------*/

.blog {
  background: #fff;
  padding: 70px 0px;
}

.blog h1 {
  color: #303030;
  text-align: center;
  font-weight: 700;
  letter-spacing: 4px;
  position: relative;
}

.blog h1:before {
  content: "";
  height: 5px;
  background: #303030;
  position: absolute;
  top: -15px;
  left: 46.5%;
  right: 46.5%;
}

.filtering {
  width: 100%;
  padding: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-box;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.no-js .filtering {
  display: none;
}

.blog-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: inherit;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0;
}

.no-flexbox .blog-navigation {
  display: inherit;
}

.blog-navigation label {
  cursor: pointer;
  padding: 7px 14px;
  border: 1.5px solid #323232;
  color: #323232;
  font-weight: 700;
  margin: 0 5px;
  border-radius: 0 !important;
  background-color: transparent;
}

.blog-navigation label:hover {
  border-color: #323232;
  color: #fff;
  background-color: transparent !important;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #323232;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.btn-primary.focus,
.btn-primary:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #323232 !important;
  border-color: #6f6f6f !important;
}
.blog .hvr-sweep-to-right.active:before {
  background: #fff;
}

.blog .hvr-sweep-to-right:before {
  background: #323232;
}

.blog .hvr-sweep-to-right.active:before {
  background: transparent;
}

.filtr-item img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.filtr-item:hover .item-holder img {
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
  cursor: pointer;
}

.item-holder {
  position: relative;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  overflow: hidden;
}

.item-caption {
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 0;
  width: 150px;
  background: #313131;
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.item-caption h2 {
  font-size: 32px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  padding-left: 13px;
}

.item-caption p {
  padding-left: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.item-created {
  text-decoration: none;
  position: absolute;
  bottom: 16px;
  left: 17px;
  background: #6f6f6f;
  padding: 5px 10px;
}

.filtr-item:hover .item-caption {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.item-holder a {
  text-decoration: none;
  color: #fff;
}

.item-holder a:focus {
  outline: none;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder,
.mfp-close {
  cursor: crosshair;
}

.loadmore {
  display: inline-block;
  background: transparent;
  margin-top: 25px;
  text-decoration: none;
  color: #6f6f6f;
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  font-weight: 500;
  border: 2px solid #6f6f6f;
  padding: 5px 18px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.loadmore:hover {
  background: #6f6f6f;
  color: #fff;
  border: 2px solid #6f6f6f;
  text-decoration: none;
}

/*--------------------------------
 End blog
----------------------------------*/


/* ========= 7.2 Start Fun Facts ======= */

.no-js .fun-facts {
  display: none;
}

.fun-facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fun-fact-holder img {
  display: block;
  margin: auto;
  width: 80px;
}

.fun-fact-holder p {
  text-align: center;
  font-size: 14px;
  margin-top: -10px;
  color: #6f6f6f;
  font-weight: 700;
}

.fun-fact-holder .fact-counter {
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  margin-top: 13px;
}

/*--------------------------------
   Start Contact
----------------------------------*/

.contact {
  background: #313131;
  /* Fallback Background */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.contact:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.contact-holder {
  margin-top: 120px;
  position: relative;
  z-index: 2;
}

.contact-holder h1 {
  position: relative;
  text-align: center;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
}

.contact-holder h1:before {
  content: "";
  position: absolute;
  top: -8px;
  right: 6px;
  left: 0;
  margin: auto;
  width: 47px;
  height: 5px;
  background: #fff;
}

.form-container {
  margin-top: 40px;
}

.form-container .form-control {
  border: 0;
  border-radius: 0;
  height: 47px;
}

.form-container .help-block,
.form-container .with-errors {
  color: #fff;
}

.form-container textarea.form-control {
  height: auto;
}

input.form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder,
.submit {
  font-weight: 700;
  font-size: 16px;
  color: #313131;
}

.submit {
  width: 120px;
  margin: auto;
  display: block;
}

.hvr-icon-push:before {
  content: "\f1d8";
  right: 19px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.footer {
  padding-top: 50px;
  padding-bottom: 70px;
  position: relative;
  z-index: 2;
}

.footer-bg {
  background-color: #181616;
}

.footer hr {
  border: 1px solid #fff;
  margin-bottom: 5px;
}

.footer-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 210px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
}

.footer-icons div {
  display: inline-block;
}

.footer-icons a,
.to-top a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.footer-icons .fab.fa-facebook-f {
  padding: 7px 10px;
}

.footer-icons .fab,
.to-top .fa {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
  padding: 7px;
}

.footer-icons .fab:hover {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.to-top {
  display: inline;
  float: right;
  margin-top: 15px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.no-js .to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.to-top:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.credit {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
}

.content.text-white * {
  color: #fff;
}

.z-index-9 {
  z-index: 9;
}

/*--------------------------------
   End Contact
----------------------------------*/
/*--------------------------------
  Start Header
----------------------------------*/

@media(max-width: 550px) and (min-height: 501px) {
  .introduction {
    font-size: 45px;
    margin-bottom: 5px;
  }

  .animated-text {
    font-size: 21px;
    margin-top: 7px;
    margin-bottom: 2px;
  }

  .head-holder .hireMe {
    margin-top: 10px;
    font-size: 18px;
    padding: 3px 12px;
  }
}


@media (min-width: 100px) and (max-width: 767px) {
  .fullscreen-nav-holder {
    flex-direction: column;
    align-items: center;
  }

  .fullscreen-nav-holder li a {
    display: block;
    padding: 10px;
  }
}

@media (max-width: 470px) {
  .name {
    margin-top: 100px;
  }
}

@media (min-width: 470px) and (max-width: 727px) {
  .fullscreen-nav-holder div {
    margin-bottom: 15px;
  }

  .full-nav-icon-holder {
    margin-top: 15px;
  }
}

@media (min-width: 728px) and (max-height:470px) {
  .full-nav-container {
    margin-top: 20px;
  }
}

@media (min-width: 469px)and (max-width: 727px) and (max-height:500px) {
  .full-nav-container {
    margin-top: 20px;
  }

  .first-name,
  .last-name {
    display: inline-block;
    font-size: 35px;
    margin: 0;
  }

  .occupation {
    font-size: 15px;
  }

  .fulscreen-nav {
    margin-top: 25px;
  }

  .full-nav-icon-holder {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media (max-height: 535px) and (max-width: 468px) {

  .first-name,
  .last-name {
    display: inline-block;
    font-size: 35px;
    margin: 0;
  }

  .occupation {
    font-size: 15px;
  }

  .name {
    text-align: left;
  }

  .full-nav-container {
    margin-top: 20px;
  }

  .fullscreen-nav-holder div {
    margin-bottom: 15px;
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
  }

  .fulscreen-nav {
    margin-top: 25px;
  }

  .full-nav-icon-holder {
    margin-top: -5px;
    width: 70%;
    justify-content: flex-start;
  }

  .full-nav-holder {
    padding-left: 20px;
    display: block;
  }

  .full-nav-content {
    display: block;
  }
}

@media (max-width: 469px) and (min-height: 536px) {
  .fullscreen-nav-holder div {
    margin-bottom: 15px;
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
  }

  .full-nav-icon-holder {
    margin-top: 15px;
  }

  .full-nav-container {
    margin-top: 20px;
  }

  .first-name {
    font-size: 35px;
  }

  .last-name {
    font-size: 70px;
    font-weight: 600;
    line-height: 0;
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .occupation {
    font-size: 14px;
  }

  .fullscreen-nav {
    margin-top: 35px;
  }

  .full-nav-holder {
    display: block;
  }

  .full-nav-content {
    display: block;
  }
}

@media (max-width: 767px) {
  .logo {
    left: 10px;
  }

  .header .logo img {
    width: 185px;
  }

}

@media (max-width: 880px) {
  .slider-button {
    display: none;
  }
}

@media (max-width: 990px) {
  .header {
    background-position: center;
  }
}

@media (min-height: 301px) and (max-height: 500px) {
  .introduction {
    font-size: 35px;
  }

  .animated-text {
    font-size: 18px;
  }

  .head-holder .hireMe {
    margin-top: 10px;
    font-size: 16px;
    padding: 3px 12px;
  }
}

@media (max-height: 300px) {
  .introduction {
    font-size: 35px;
  }

  .animated-text {
    font-size: 18px;
  }

  .head-holder .hireMe {
    margin-top: 10px;
    font-size: 16px;
    padding: 3px 12px;
  }

  .head-container {
    display: block;
    margin-top: 130px;
    margin-bottom: 50px;
    height: auto;
  }
}

@media(max-width: 468px) and (max-height: 440px) {
  .full-nav-container {
    margin-bottom: 30px;
  }

  .fullscreen-nav-container {
    position: absolute;
    top: 0;
    bottom: 100%;
    width: 100%;
    height: 447px;
  }
}

@media (max-height: 430px) {
  .fullscreen-nav-container {
    min-height: 420px;
  }
}

/*--------------------------------
  End Header
----------------------------------*/

/*--------------------------------
 Start Menu
----------------------------------*/

@media (max-width: 991px) {
  .desktop-menu {
    background:rgba(255, 255, 255,0.20);
    width: 95%;
    margin-left: 10px;
  }
}

@media (max-width: 800px) {
  .desktop-menu {
    background:rgba(255, 255, 255,0.20);
    display: none;
  }

  .mobile-menu {
    background:rgba(255, 255, 255,0.90);
    display: block;
  }

  .menu-container {
    justify-content: flex-end;
    padding: 0px 20px;
    height: 0px;
    background: rgba(255, 255, 255,0.20);
  }

  .desktop-menu-logo {
    display: none;
  }

  .menu-container-transparent {
    background: rgba(255, 255, 255,0.10);
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .menu-container {
    justify-content: flex-start;
  }
}

@media(min-width: 601px) {
  .mobile-menu-fix {
    display: none;
  }
}

/*--------------------------------
 End Menu
----------------------------------*/

/*--------------------------------
  Start About Me
----------------------------------*/

@media (max-width: 767px) {
  .about-me-text {
    display: block;
    height: auto;
    margin-bottom: 30px;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    -o-order: 2;
    order: 2;
  }

  .about-me-image {
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    -o-order: 1;
    order: 1;
    margin-bottom: 30px;
  }


  .about-me-holder {
    display: flex;
    flex-wrap: wrap;
  }

  .experience-skill {
    margin-top: 10px;
  }

  .experience-chart,
  .skill-progress-bar {
    margin-top: 25px;
  }

  .skill {
    margin-top: 30px;
  }

  .skillbar {
    margin-bottom: 15px;
  }
}

@media (min-width:601px) and (max-width: 991px) {
  .about-me {
    padding: 125px 0px 35px 0px;
  }
}

@media (max-width: 600px) {
  .about-me {
    padding: 70px 0px 0px 0px;
  }
}

/*--------------------------------
   End About Me
----------------------------------*/

/*--------------------------------
  Start Services
----------------------------------*/

@media(min-width: 526px) and (max-width: 767px) {
  .services-icon img {
    width: 100%;
  }

  .service-label {
    top: 110px;
    letter-spacing: 0;
    font-size: 17px;
  }
}

@media (max-width: 525px) {
  .min-width-bar {
    left: 40%;
    right: 40%;
  }
}

@media (max-width: 475px) {
  .services-heading h1 {
    margin-bottom: 80px;
  }
}

@media (min-width:768px) and (max-width: 991px) {
  .services {
    padding: 70px 0px 35px 0px;
  }
}

@media (max-width: 767px) {
  .services {
    padding: 70px 0px 0px 0px;
  }
}

/*--------------------------------
 End Services
----------------------------------*/


/*--------------------------------
  Start Contact
----------------------------------*/

@media (max-width: 300px) {
  .footer-icons {
    width: 100%;
  }

  .footer-icons .fa {
    margin-bottom: 10px;
    
  }
}

/*--------------------------------
  End Contact
----------------------------------


/* new css */

/* Button style */
.btn {
  padding: 10px 15px;
  border-radius: 0;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: .2s ease;
}

.btn:hover,
.btn:active,
.btn.active,
.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: none !important;
}


.btn-outline-primary {
  background: transparent;
  color: #323232;
  border-color: #0f0f0f;
}


/* blog */

.card{
  border: 0;
  border-radius: 0;
}

.card-img-top{
  border-radius: 0;
  transition: .2s ease;
}

.card-body{
  padding: 15px 0;
}

.card-title{
  color: #6f6f6f;
}

.card-title:hover{
  color: #6f6f6f;
}

.card-img-wrapper{
  overflow: hidden;
  display: block;
}

.card:hover .card-img-top{
  transform: scale(1.2);
}


/* pagination */
.pagination {
  justify-content: center;
  display: flex;
  padding-left: 0;
}

.pagination .page-item {
  list-style-type: none;
}

.pagination .page-item .page-link {
  display: inline-block;
  width: 40px;
  line-height: 1.3;
  height: 40px;
  border-radius: 0;
  border: 0px solid #fff;
  text-align: center;
  margin-right: 6px;
  font-weight: 600;
  color: #fff;
}

.pagination .page-item .page-link:hover {
  background: #4d4d4d;
  color: #fff;
}

.pagination .page-item.active .page-link {
    background: #4d4d4d;
    color: #fff;
    border-color: #4d4d4d;
}

/* tags */
.tags {
  font-size: 20px;
}

/* widget */

.widget{
  margin-bottom: 20px;
}

.widget-list a{
  font-size: 18px;
  padding: 4px 0;
  display: block;
  color: #6f6f6f;
}

.widget-img{
  height: 70px;
  width: 85px;
  object-fit: cover;
  margin-right: 10px;
}


#logoimg {
  position: absolute; 
	left: 450px; /* posiciona a 90px para a esquerda */ 
	top: 80px; /* posiciona a 70px para baixo */
}

/* --- utteranc css -- */

#utteranc {
position: relative;
left: 100px; 
	top: 10px; 
}

/*--- end utteranc css --*/

/* Redes na lateral direita */
#redes {
  color: #353535;
  font-size: 16px;
	right: 15px;
	top: 38.39%;
	position: fixed;
	z-index: 2;
}

#redes ul li {
  height: 20px;
  width: 20px;
	list-style: none;
	margin-bottom: 16px;
	text-align: center;
	width: 10px;
}


#redes ul li a:hover{
  color: #999;
}

/* Redes na lateral direita */

/* animação nos icones */

#animated-icon:hover{
  color: #999;
}

/* animação nos icones */

/* Mouse scroll banner*/

#mouse-scroll {
  style: block;
}
#mouse-scroll {
  position: absolute;
     margin: auto;
     left: 52%;
    -webkit-transform: translateX(-50%);
    z-index: 9999;
    bottom: 10px;

}
#mouse-scroll span{
  display: block;
  width: 5px; 
  height: 5px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       transform: rotate(45deg);
  border-right: 2px solid #fff; 
  border-bottom: 2px solid #fff;
  margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
	height: 35px;
	width: 22px;
	border-radius: 10px;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	border: 2px solid #323232;
	top: 170px;
}

#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block; 
  margin: 5px auto;
  background: #323232;
  position: relative;
}
#mouse-scroll .mouse-in {
 -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  } 
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1
}

/* blog slider */

.overflow-hidden {
  overflow: hidden;
}

.card-img {
  opacity: 0.4;
}

.card-img-overlay::before {
  position: absolute;
  content: "";
  background: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.card-content {
  padding: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35%;
}

.title-border {
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 30px;
}

.title-border::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0px;
  background: #ababab;
}

.title-border-lg {
  position: relative;
}

.title-border-lg::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 300px;
  left: -45px;
  bottom: -50px;
  background: #ababab;
}

@media (max-width: 575px) {
  .pagination {
    overflow: auto;
    white-space: nowrap;
  }
  .pagination::-webkit-scrollbar {
    background: transparent;
  }
}

.pagination .page-item .page-link {
  display: inline-block;
  width: 40px;
  line-height: 1.3;
  height: 40px;
  border-radius: 0;
  border: 0px solid #999;
  text-align: center;
  margin-right: 6px;
  font-weight: 600;
  color: #4d4d4d;
}

@media (max-width: 767px) {
  .pagination .page-item .page-link {
    font-size: 16px;
  }
}

.pagination .page-item .page-link:hover {
  color: #000000;
  background-color: transparent;
}

.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link {
  font-size: 16px;
}

.pagination .page-item.active .page-link {
  color: #000000;
  text-decoration: underline;
  background: transparent;
}


/* Button style */
.btn {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  padding: 8px 20px;
  border-radius: 0;
  font-weight: 600;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: .2s ease;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn:active {
  box-shadow: none;
}

.btn-primary {
  background: #0f0f0f;
  color: #fff;
  border: 0;
}

.btn-primary:active {
  background: #6f6f6f !important;
}

.btn-primary:hover {
  background: #6f6f6f;
}

.btn-outline-light {
  background: transparent;
  color: #fff;
}

.btn-outline-light:active {
  background: #fff !important;
  color: #000000;
  border-color: #fff;
}

.btn-outline-light:hover {
  background: #fff !important;
  color: #000000;
  border-color: #fff;
}

.btn-transparent {
  color: #505050;
  border: 0;
}


.bg-posts {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  padding-top: 100px;
  padding-bottom: 100px;
}


#branco{
  color:#fff;
}

/* Blog 2  */

/* Wrapper */

	#wrapper > header {
		padding: 11em 0 2.25em 0 ;
	}

		#wrapper > header .inner {
			margin: 0 auto;
			width: 55em;
		}

		#wrapper > header h2 {
			border-bottom: solid 2px rgba(255, 255, 255, 0.125);
			font-size: 2em;
			margin-bottom: 0.8em;
			padding-bottom: 0.4em;
		}

		#wrapper > header p {
			font-family: Raleway, Helvetica, sans-serif;
			font-size: 1em;
			font-weight: 200;
			letter-spacing: 0.1em;
			line-height: 2;
			text-transform: uppercase;
		}

	@media screen and (max-width: 1280px) {

		#wrapper > header {
			padding: 9em 0 6.25em 0 ;
			background-color: #e1e2e6;
			background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/bg.jpg");
			background-size: auto,
 cover;
			background-position: center,
 0% 30%;
			margin-bottom: -6.5em;
		}

	}

	@media screen and (max-width: 980px) {

		#wrapper > header {
			padding: 11em 3em 7.375em 3em ;
			background-size: auto,
 cover;
			background-position: center,
 0% 0%;
			margin-bottom: -4.75em;
		}

			#wrapper > header .inner {
				width: 100%;
			}

	}

	@media screen and (max-width: 736px) {

		#wrapper > header {
			padding: 6.5em 2em 3em 2em ;
			background-size: auto,
 125%;
			margin-bottom: -2.5em;
		}

			#wrapper > header h2 {
				font-size: 1.25em;
			}

			#wrapper > header p {
				font-size: 0.8em;
			}

	}

	.wrapper {
		background-color:#e1e2e6;
		margin: 6.5em 0;
		position: relative;
	}

		.wrapper:before, .wrapper:after {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%232e3141%3B' /%3E%3C/svg%3E");
		}

		.wrapper:before {
			box-shadow: inset 0 -1px 0 0  #4c5c96, 0 1px 0 0  #4c5c96;
		}

		.wrapper:after {
			box-shadow: inset 0 -1px 0 0  #4c5c96, 0 1px 0 0  #4c5c96;
		}

		.wrapper:before, .wrapper:after {
			background-repeat: no-repeat;
			background-size: 100% 100%;
			content: '';
			display: block;
			height: 6.5em;
			position: absolute;
			width: 100%;
		}

		.wrapper:before {
			left: 0;
			top: -6.5em;
		}

		.wrapper:after {
			-moz-transform: scaleY(-1);
			-webkit-transform: scaleY(-1);
			-ms-transform: scaleY(-1);
			transform: scaleY(-1);
			bottom: -6.5em;
			left: 0;
		}

		.wrapper.alt:before {
			-moz-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			-ms-transform: scaleX(-1);
			transform: scaleX(-1);
		}

		.wrapper.alt:after {
			-moz-transform: scaleY(-1) scaleX(-1);
			-webkit-transform: scaleY(-1) scaleX(-1);
			-ms-transform: scaleY(-1) scaleX(-1);
			transform: scaleY(-1) scaleX(-1);
		}

		.wrapper .inner {
			padding: 3em 0 1em 0 ;
			margin: 0 auto;
			width: 55em;
		}

		.wrapper.style4 {
			background-color: #19191a;
		}

			.wrapper.style4:before, .wrapper.style4:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:#19191a' /%3E%3C/svg%3E");
			}

			.wrapper.style4:before {
				box-shadow: inset 0 -1px 0 0 #19191a, 0 1px 0 0 #19191a;
			}

			.wrapper.style4:after {
				box-shadow: inset 0 -1px 0 0 #19191a, 0 1px 0 0 #19191a;
			}


		.wrapper.spotlight {
			background-color:  #4c5c96;
		}

			.wrapper.spotlight:before, .wrapper.spotlight:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234c5c96%3B' /%3E%3C/svg%3E");
			}

			.wrapper.spotlight:before {
				box-shadow: inset 0 -1px 0 0 #e1e2e6, 0 1px 0 0 #e1e2e6;
			}

			.wrapper.spotlight:after {
				box-shadow: inset 0 -1px 0 0 #e1e2e6, 0 1px 0 0 #e1e2e6;
			}

			.wrapper.spotlight .inner {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				-moz-flex-direction: row;
				-webkit-flex-direction: row;
				-ms-flex-direction: row;
				flex-direction: row;
			}

			.wrapper.spotlight .image {
				border-radius: 100%;
				margin: 0 3em 2em 0;
				width: 22em;
				overflow: hidden;
				-ms-flex: 1;
			}

				.wrapper.spotlight .image img {
					border-radius: 100%;
					width: 100%;
				}

			.wrapper.spotlight .content {
				width: 100%;
				-ms-flex: 2;
			}

			.wrapper.spotlight:nth-child(2n - 1) .inner {
				-moz-flex-direction: row-reverse;
				-webkit-flex-direction: row-reverse;
				-ms-flex-direction: row-reverse;
				flex-direction: row-reverse;
				text-align: right;
			}

			.wrapper.spotlight:nth-child(2n - 1) .image {
				margin: 0 0 2em 3em;
			}


			.wrapper.spotlight.style4 {
				background-color: #19191a;
			}

				.wrapper.spotlight.style4:before, .wrapper.spotlight.style4:after {
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:#19191a' /#19191a");
				}

				.wrapper.spotlight.style4:before {
					box-shadow: inset 0 -1px 0 0 #19191a, 0 1px 0 0 #19191a;
				}

				.wrapper.spotlight.style4:after {
					box-shadow: inset 0 -1px 0 0 #19191a, 0 1px 0 0 #19191a;
				}


		@media screen and (max-width: 980px) {

			.wrapper {
				margin: 4.75em 0;
			}

				.wrapper:before, .wrapper:after {
					height: 4.75em;
				}

				.wrapper:before {
					top: -4.75em;
				}

				.wrapper:after {
					bottom: -4.75em;
					left: 0;
				}

				.wrapper .inner {
					padding: 3em 3em 1em 3em ;
					width: 100%;
				}

				.wrapper.spotlight .image {
					margin: 0 2em 2em 0;
					width: 32em;
				}

				.wrapper.spotlight:nth-child(2n - 1) .image {
					margin: 0 0 2em 2em;
				}

		}

		@media screen and (max-width: 736px) {

			.wrapper {
				margin: 2.5em 0;
			}

				.wrapper:before, .wrapper:after {
					height: 2.5em;
				}

				.wrapper:before {
					top: -2.5em;
				}

				.wrapper:after {
					bottom: -2.5em;
					left: 0;
				}

				.wrapper .inner {
					padding: 2em 2em 0.1em 2em ;
				}

				.wrapper.spotlight .inner {
					-moz-align-items: -moz-flex-start;
					-webkit-align-items: -webkit-flex-start;
					-ms-align-items: -ms-flex-start;
					align-items: flex-start;
				}

				.wrapper.spotlight .image {
					width: 19em;
					margin: 0 1.75em 2em 0;
				}

				.wrapper.spotlight:nth-child(2n - 1) .image {
					margin: 0 0 2em 1.75em;
				}

		}

		@media screen and (max-width: 480px) {

			.wrapper.spotlight .inner {
				display: block;
			}

			.wrapper.spotlight .image {
				margin: 0 0 1em 0 !important;
				max-width: 85%;
				width: 12em;
			}

		}

		@media screen and (max-width: 360px) {

			.wrapper .inner {
				padding: 2em 1.5em 0.1em 1.5em ;
			}

		}

/* Features */

	.features {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0 0 2em 0;
	}

		.features article {
			padding: 1.75em 1.75em 0.1em 1.75em ;
			background-color: rgb(19 19 20);
			border-radius: 5px;
			margin: 1.5em 3em 1.5em 0;
			width: calc(50% - 1.5em);
		}

			.features article:nth-child(2n) {
				margin-right: 0;
			}

			.features article .image {
				border-radius: 5px 5px 0 0;
				display: block;
				margin-bottom: 1.75em;
				margin-left: -1.75em;
				margin-top: -1.75em;
				position: relative;
				width: calc(100% + 3.5em);
			}

				.features article .image img {
					border-radius: 5px 5px 0 0;
					width: 100%;
				}

		@media screen and (max-width: 980px) {

			.features article {
				margin: 1em 2em 1em 0;
				width: calc(50% - 1em);
			}

		}

		@media screen and (max-width: 736px) {

			.features article {
				padding: 1.5em 1.5em 0.1em 1.5em ;
				margin: 0.875em 1.75em 0.875em 0;
				width: calc(50% - 0.875em - 1px);
			}

				.features article .image {
					margin-bottom: 1.5em;
					margin-left: -1.5em;
					margin-top: -1.5em;
					width: calc(100% + 3em);
				}

		}

		@media screen and (max-width: 480px) {

			.features {
				display: block;
			}

				.features article {
					width: 100%;
					margin: 0 0 2em 0 !important;
				}

		}
a.special:not(.button) {
			text-decoration: none;
			border-bottom: 0;
			display: block;
			font-family: Raleway, Helvetica, sans-serif;
			font-size: 0.8em;
			font-weight: 700;
			color:#323232;
			letter-spacing: 0.1em;
			margin: 0 0 2em 0;
			text-transform: uppercase;
		}

			a.special:not(.button):before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				color: #fff;
				text-transform: none !important;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
			}

			a.special:not(.button):before {
				-moz-transition: background-color 0.2s ease-in-out;
				-webkit-transition: background-color 0.2s ease-in-out;
				-ms-transition: background-color 0.2s ease-in-out;
				transition: background-color 0.2s ease-in-out;
				border-radius: 100%;
				border: solid 2px rgba(255, 255, 255, 0.125);
				content: '\f105';
				display: inline-block;
				font-size: 1.25em;
				height: 2em;
				line-height: 1.75em;
				margin-right: 0.85em;
				text-align: center;
				color:#525252;
				text-indent: 0.15em;
				vertical-align: middle;
				width: 2em;
			}

			a.special:not(.button):hover:before {
			  color: #525252;
				background-color: rgba(255, 255, 255, 0.025);
			}

			a.special:not(.button):active:before {
			  color: #525252;
				background-color: rgba(255, 255, 255, 0.075);
			}
			
		
	h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
			padding-bottom: 1em;
			border-bottom: solid 2px rgba(255, 255, 255, 0.125);
		}
		
			.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;
		background-color: transparent;
		border-radius: 5px;
		border: 0;
		box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-family: Raleway, Helvetica, sans-serif;
		font-size: 0.8em;
		font-weight: 700;
		height: 3.75em;
		letter-spacing: 0.1em;
		line-height: 3.75em;
		padding: 0 2.25em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

.button:hover {
			background-color: rgba(255, 255, 255, 0.025);
		}
		
.button:active {
			background-color: rgba(255, 255, 255, 0.075);
		}
		
.button.icon:before {
			margin-right: 0.5em;
			color: rgba(255, 255, 255, 0.35);
		}
		


