<!-- Start Sobre mim -->
{{ with .GetPage "about" }}
<style>{{.Params.custom_css | safeCSS}}</style>
<section id="about" class="about-me section-sm {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}}  style="background-image: url('{{ .Params.bg_image | absURL }}');">
  <div class="container" >
    <div class="row about-me-holder" >
      <div class="col-lg-6 col-md-6 col-sm-4 about-me-text d-flex align-self-center">
        <div class="text-holder wow fadeInUp" data-wow-duration="1.5s">
          <h1>{{ .Title | markdownify }}</h1>
          <div class="content" id="text-about">{{ .Content | markdownify | emojify }}</div>
          {{ with .Params.button }}
          {{ if .enable }}
          <a href="{{ .link | absURL }}" class="download-cv hvr-icon-hang"> {{ .label }} &nbsp; &nbsp; &nbsp;</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
</section>

<section>
<!-- begin Experencia 2 -->  
 <div class="container" >
    <div class="row experience-skill">
      {{ with .Params.experience }}
      {{ if .enable }}
      <div class="col-lg-6 col-sm-6 col-11 experience wow fadeInUp" data-wow-duration="1.5s">
        <h3>{{ .title }}</h3>
        <ul class="experience-chart">
          {{ range .experience_list }}
          <li>
            <div class="single-experience">
              <h4>{{ .name | markdownify }}</h4>
              {{ with .company }} <span>{{ . | markdownify }}</span> {{ end }}
              {{ with .duration }} <span>{{ . | markdownify }}</span> {{ end }}
              {{ with .content }} <p>{{ . | markdownify}}</p> {{ end }}
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      {{ end }}

      {{ with .Params.skill }}
      {{ if .enable }}
      <div class="col-lg-6 col-sm-6 col-11 skill wow fadeInUp" data-wow-duration="1.5s">
        <h3>{{ .title }}</h3>
        <div class="skill-progress-bar">
          {{ range .skill_list }}
          <div class="clearfix">
            <span class="skillbar-title">{{ .name }}</span>
            <span class="skill-bar-percent">{{ .percentage }}</span>
            <div class="skillbar" data-percent="{{ .percentage }}">
              <div class="skillbar-bar"></div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
  </div>
<!-- End Experencia 2 -->  
  
</section>
{{ end }}
<!-- End Sobre mim -->