<!-- Start blog -->
{{ with .GetPage "post"}}
<style>{{.Params.custom_css | safeCSS}}</style>
<section class="post {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="blog">
    

							<section  class="wrapper alt style4">
							  <center>
     <h3 id = "branco" class="wow fadeInUp" data-wow-duration="1.5s">
          <br>
          <small>Últimas do </small> <br> 
          Blog <br>
          <Small>Conheça um pouco do que eu sei fazer :) </Small> 
          </h3>
</center>

            
								<div class="inner wow fadeInUp" data-wow-duration="1.5s" >
									<section class="features wow fadeInUp" data-wow-duration="1.5s">
											
											{{ range first 4  .Data.Pages }}	
										<article>
											<a  href="{{.Permalink}}" class="image"><img src="{{ .Params.image | absURL }}" alt="" /></a>
											<h3 id = "branco" class="major">{{ .Title | markdownify }}</h3>
											<p id = "branco"> {{.Summary}}</p>
											<p id = "branco" >{{ .PublishDate.Format "02/01/2006" }}</p>
											<a href="{{.Permalink}}" class="special">Leia Mais</a>
										</article>
											{{end}}
											
									<ul class="actions">
									<a href="{{`post` | absURL}}" class="button">Carregar Mais</a>
									</ul>

							</section>
						
</section>
{{ end }}
<!-- End blog -->
