<!-- featured post -->
<section class="overflow-hidden">
  <div class="container-fluid p-sm-0">
    <div class="row featured-blog-slider">
      <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
        <article class="card bg-dark text-center text-white border-0 rounded-0">
          <img class="card-img rounded-0 img-fluid w-100" src="{{.Params.featuredImage | absURL}}" alt="post-thumb">
          <div class="card-img-overlay">
            <div class="card-content">
              <h4 class="card-title mb-4"><a class="text-white" href="{{.Permalink}}">{{.Title}}</a></h4>
              <a class="btn btn-outline-light" href="{{.Permalink}}">leia mais</a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- /featured post -->
