<!-- ir para o github -->
{{ with .GetPage "call-to-action" }}
<style>{{.Params.custom_css | safeCSS}}</style>
<section id="cta" class="need-service overlay section-sm wow fadeInUp {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} data-wow-duration="1.5s" style="background-image: url('{{ .Params.bg_image | absURL }}');">
  <div class="container position-relative z-index-9">
    <h1>{{ .Title | markdownify }}</h1>
    {{ with .Content }}<div class="text-white content">{{ . | markdownify }}</div> {{ end }}
    {{ with .Params.button }}
    {{ if .enable }}
    <a href="{{ .link | absURL}}">{{ .label }}</a>
    {{ end }}
    {{ end }}
  </div>
</section>
{{ end }}
<!-- end ir para o github -->
