<!-- funfacts -->
{{ with .GetPage "funfacts"}}
<style>{{.Params.custom_css | safeCSS}}</style>
<section class="wow fadeInUp section-sm {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} data-wow-duration="1.5s">
  <div class="container position-relative z-index-9">
    {{ with .Title}}
    <div class="services-heading">
      <div class="bar"></div>
      <h1>{{ . | markdownify }}</h1>
    </div>
    {{ end }}
    <div class="fun-facts wow fadeInUp" data-wow-duration="1.5s">
      {{ range .Params.funfacts }}
      <div class="fun-fact-holder">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="{{ .name }}">
        <p class="fact-counter count" data-count="{{ .count }}">0</p>
        <p>{{ .name }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- end funfacts -->